<footer  class="">
    <div class="container  ">
      <div class="row text-center text-white  d-flex justify-content-center ">
        <div  class="col-md-4 ">
          <div>
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <span>Clark, MO 65243</span>
          </div>
        </div>
        <div  class="col-md-4 ">
          <div>
            <h3>AROUND THE WEB</h3>
            <div class="d-flex justify-content-center  ">
             <span class="p-2"> <i class=" fa-brands fa-facebook"></i></span>
              <span class="p-2" ><i class="fa-brands fa-twitter"></i></span>
              <span  class="p-2"><i class="fa-brands fa-linkedin-in"></i></span>
             <span class="p-2" > <i class="fa-solid fa-globe"></i></span>
  
            </div>
          </div>
        </div>
        <div  class="col-md-4 ">
          <div>
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        
          </div>
        </div>
       
  
      </div>
  
    </div>
  </footer>
  <div class="end-footer text-center text-white py-4">Copyright © Your Website 2021</div>
