<nav #navbar  class="navbar navbar-expand-lg position-fixed w-100 z-1 ">
    <div class="container  ">
      <a class="navbar-brand fs-2 fw-bold text-white " routerLink="home"   >START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse mx-auto d-flex justify-content-end  " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          
          <a class="nav-link  btn my-auto  fw-bold text-white me-3"  routerLink="about" routerLinkActive="activLink" >ABOUT</a>
          <a class="nav-link btn my-auto fw-bold text-white me-3"  routerLink="portfolio" routerLinkActive="activLink" >PORTFOLIO</a>
          <a class="nav-link btn my-auto fw-bold text-white me-3 "  routerLink="contact" routerLinkActive="activLink" >CONTACT</a>
         
        </div>
      </div>
    </div>
  </nav>

