<section class="contact">
    <h2 class="text-uppercase fw-bold text-center fs-1 pt-4">conatct section</h2>
       
    <div class="d-flex  align-items-center justify-content-center">
        <div class="line " ></div>
        <span class="   mx-3"><i class="fa-solid fa-star"></i></span>
    <div class="line" ></div>
    </div>
    <form class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">
        
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 mb-3 position-relative ng-untouched ng-pristine ng-valid" fdprocessedid="obvdws">
        
        <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3  mb-3 position-relative ng-untouched ng-pristine ng-valid" fdprocessedid="4u6t97">
 
        <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3  mb-3 position-relative ng-untouched ng-pristine ng-valid" fdprocessedid="uaz5ht">
       
        <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3  mb-3 position-relative ng-untouched ng-pristine ng-valid" fdprocessedid="2es6wm">
        <button class="btn mt-4 text-white" style="background-color: #1abc9c;" fdprocessedid="jha2k7"> send Message </button>
    </form>
</section>
