<section class="home  d-flex flex-column justify-content-center align-items-center">
    <div class="w-25  text-center"><img src="../../assets/imges/avataaars.svg" alt="mainImg"  class="w-75"></div>
    <h1 class="text-white mt-4 text-uppercase fw-bold">start Framework</h1>
    
    <div class="d-flex  align-items-center">
        <div class="line " ></div>
        <span class="   mx-3  text-white"><i class="fa-solid fa-star"></i></span>
    <div class="line" ></div>
    </div>

    <p class="text-white py-2" >Graphic Artist - Web Designer - Illustrator</p>
</section>


